.layout {
  min-height: 100vh;
  padding-bottom: calc(var(--nav-height) + env(safe-area-inset-bottom, 0px));
  background-color: var(--color-bg-secondary);
}

.layoutTopNav {
  padding-top: calc(var(--nav-height) + env(safe-area-inset-top, 0px));
}

